<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="styles.css">
    <title>Willkommen </title>
  </head>
  <body>
        <h2>Willkommen <%= user %></h2>
        <!-- zur Login Seite gehen -->
        <a href="/ueberweisung" class="button">Überweisung ausführen</a>
        <br>
        <a href="/login" class="button">Abmelden</a>
  </body>
</html>