body {
    background-color: lightblue;
    background-image: linear-gradient(lightblue, rgba(99,197,241,0.966))
  }

  h1 {
    color: white;
    text-shadow: 2px 2px 4px #000000;
    text-align: center;
  }

  
  p {
    color: white;
    text-shadow: 2px 2px 4px #000000;
    font-family: verdana;
    font-size: 20px;
  }
button {
    background-color: whitesmoke; /* Green */
    border: hsla(hue, saturation, lightness, alpha);
    color: rgb(0, 195, 255);
    padding: 2px 8px;
    text-align: center;
    text-decoration: solid;
    display: ruby-base-container;
    font-size: 16px;
    margin: 4px 2px;
    cursor: -webkit-grabbing;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
  }
